<p id="notice"><%= notice %></p>

<div class="container-fluid d-flex h-100 justify-content-center align-items-center p-0">
  <div>
    <div>
      <h1 class="first_block text-center mb-4"><%= @dubcom[1].title %></h1>
      </br>
      <h2 class="second_block text-center mb-4"><%= @dubcom[1].title %></h2>
    </div>
  </div>
</div>
