<!DOCTYPE html>
<html>
  <head>
    <title>Neverends</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="stage">
    <%= yield %>
  </body>

  <div class="footer">
    <div id="button"></div>
    <div id="container">
      <div id="cont">
        <div class="footer_center">
          <h3>© 2022: From Ilya with love </h3>
        </div>
      </div>
    </div>
  </div>
</html>
